.body {
    background: url('https://i.pinimg.com/564x/4b/6a/53/4b6a537ea9aeaf2cb55cc0843294e2f6.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 720px;
    font-family: 'Young Serif', serif;
  }
#main{
    height: 100%;
    margin: auto;
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 10px;
    border-radius: 20px;
}
.top-bar{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.top-bar input{
    display: flex;
    width: 500px;
    border: none;
    outline: none;
}
.top-bar button{
    margin-left: -67px;
    background-color: rgb(0, 75, 121);
}
.top-bar button:hover{
    background-color: rgb(0, 75, 128);
}
.font{
    font-family: 'Gabarito', sans-serif;
}
.font2{
    font-family: 'Young Serif', serif;
}


@media(max-width:450px){
    .body{
        background: none;
    }
    .top-bar input{
        background-color: rgba(76, 194, 241, 0.253);
    }
    #main{
        margin: 0%;
        padding: 0%;
        width: 100%;
    }
}

@media(max-width:1400px){
    .body{
        background: none;
    }
    .top-bar input{
        background-color: rgba(76, 194, 241, 0.253);
    }
    #main{
        margin: 0%;
        padding: 0%;
        width: 100%;
    }
}